<!DOCTYPE html>
<html lang="nl">
  {% include 'includes/head.html' %}
  <body>
    <div class="container-fluid p-0">
      <!-- Carousel -->
      <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" id="carousel-inner">
          {% include 'includes/intro_screen.html' %}
          <!-- Dynamic slides will be added by JavaScript -->
        </div>
        
        {% include 'includes/carousel_controls.html' %}
      </div>
      
      {% include 'includes/footer.html' %}
      {% include 'includes/test_mode_indicator.html' %}
    </div>

    {% include 'includes/scripts.html' %}
  </body>
</html>