<!DOCTYPE html>
<html lang="nl">
  {% include 'includes/head.html' %}
  <body>
    <div class="container-fluid p-0">
      <!-- TV-Simple Slideshow -->
      <div id="slideshow-container">
        <div id="slide-container">
          {% include 'includes/intro_screen.html' %}
          <!-- Dynamic slides will be added by JavaScript -->
        </div>
      </div>
      
      {% include 'includes/footer.html' %}
      {% include 'includes/test_mode_indicator.html' %}
    </div>

    {% include 'includes/scripts.html' %}
  </body>
</html>